[Unit]
Description=Run availability all.sh script
After=network.target

[Service]
Type=oneshot
User=opc
WorkingDirectory=/home/opc/availability
ExecStart=/home/opc/availability/runners/all.sh

[Install]
WantedBy=multi-user.target 